.home-logout {
  font-size: 18px;
}
.home-logout:hover {
  color: #ff6200;;
}
.home-title {
  text-align: center;
}
.home-display {
  text-align: center;
  font-size: 19px;
  .home-info {
    padding-top: 10px;
  }
}
